@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 300;
    line-height: 1;
}

html {
    font-size: 62.5%;
}
// $desktop: 1200px;
// $medium: 991px;
// $small: 767px;
// $mobile: 576px;

// @mixin rwd($breakpoint) {
//     @if $breakpoint == desktop {
//         @media all and (max-width: $desktop) {
//             @content;
//         }
//     } @else if $breakpoint == medium {
//         @media all and (max-width: $medium) {
//             @content;
//         }
//     } @else if $breakpoint == small {
//         @media all and (max-width: $small) {
//             @content;
//         }
//     } @else if $breakpoint == mobile {
//         @media all and (max-width: $mobile) {
//             @content;
//         }
//     }
// }
